body{
    /* background-color:#56CC9D ; */
    background-color: rgb(54, 54, 54);
}


.fixed-bottom{
    height: 50px;
    background-color: white;
    text-align: center;
    color: black;
}

.footer{
    margin-top: 15px;
    font-size: 15px;
}

.dropdown,.dropdown-item{
    font-size: 20px;
}

.card-text {
    font-size: 20px;
}
